@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #171717;
  --accent: #e9ff44;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: contain;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .list-hyphen {
    list-style-type: none;
  }
  
  .list-hyphen li {
    display: flex;
    gap: 4px;
  }

  .list-hyphen li::before {
    content: "-";
  }
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
