@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #171717;
  /* --accent: #e9ff44; */

  --work-affine-matrix-1: matrix(1, 0.09, 0.19, 1, -0.01, 0.02);
  --work-affine-matrix-2: matrix(1, -0.41, -0.61, 1, 0.02, -0.01);
  --work-affine-matrix-3: matrix(1, -0.82, 0.19, 1, 0.01, -0.02);
  --work-affine-matrix-4: matrix(1, -1.21, 0.79, 1, -0.01, 0.02);
  --work-affine-matrix-5: matrix(1, -0.61, -0.41, 1, 0.02, 0.01);
  
  overflow-x: clip;
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }

  .list-hyphen {
    list-style-type: none;
  }
  
  .list-hyphen li {
    display: flex;
    gap: 6px;
  }

  .list-hyphen li::before {
    content: "-";
  }

  .work-affine-matrix-1 {
    transform: var(--work-affine-matrix-1);
  }

  .work-affine-matrix-2 {
    transform: var(--work-affine-matrix-2);
  }

  .work-affine-matrix-3 {
    transform: var(--work-affine-matrix-3);
  }

  .work-affine-matrix-4 {
    transform: var(--work-affine-matrix-4);
  }
  
  .work-affine-matrix-5 {
    transform: var(--work-affine-matrix-5);
  }
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
