@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: contain;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }
}
